body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding-left: 10px;
  color: #222;
}
/* SVG box */
#histogram svg {
  border: 1px solid #e0e0e0;
}
/* Histogram bars */
.bar {
  fill: steelblue;
  shape-rendering: crispEdges;
}
.bars rect.selected {
  fill: crimson;
}
/* Points */
.point {
  fill: #000;
}
/* Error bars */
.error {
  stroke-width: 1px;
  stroke: #000;
}
/* Axes */
path.domain {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.axis .tick line {
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.axis text {
  fill: #222;
}
.grid {
  fill: none;
  stroke: #e0e0e0;
}
/* Brush, i.e. zoom box */
.brush .extent {
  fill: #000;
  fill-opacity: 0.125;
  stroke: #000;
  stroke-opacity: 0.2;
  stroke-width: 1px;
}
/* 'Clear zoom' text */
.clear-button {
  cursor: pointer;
}
.clear-button rect {
  fill: #eee;
  stroke: #000;
  stroke-width: 1px;
  stroke-opacity: 0.125;
  border-radius: 2px;
}
.clear-button:hover rect {
  fill: #e4e4e4;
}
.clear-button:active rect {
  fill: #ddd;
}
